<div class="container intro-container">
  <h3 id="{{ site.about_title | slugify | default: 'about-me' }}">{{ site.about_title | default:
  "About Me" }}</h3>
  <div class="row clearfix">
    {%- if site.about_profile_image -%}
      <div class="col-xs-12 col-sm-4 col-md-3 no-print">
        <span class="profile-img" style="background-image: url({{ site.about_profile_image | relative_url }})"></span>
      </div>
    {%- endif -%}
    <div class="{{ 'col-xs-12 ' }}{%- if site.about_profile_image -%}col-sm-8 col-md-9 col-print-12{%- endif -%}">
      {{ site.about_content | strip | markdownify }}
      <style>
        .highlighted-text {
            color: red;
            animation: blink 1s infinite; /* Blinking animation */
        }

        @keyframes blink {
            0%, 50%, 100% {
                opacity: 1;
            }
            25%, 75% {
                opacity: 0;
            }
        }
        </style>
        <span class="highlighted-text">Highlights and News</span>
      {{ site.highlights | strip | markdownify}}
    </div>
  </div>
</div>
